<!-- <h2>{{hero.name | uppercase}}</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>

<div>
    <label for="name">Hero Name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->

<app-add-hero (addSuperhero)="onAddSuperHero($event)"></app-add-hero>

<div *ngIf="selectedHero">

<!-- <h3>Selected Hero</h3>
<span class="badge">{{selectedHero.id}} </span>
<span class="name">{{selectedHero.name}}</span> -->
<app-hero-details [hero]="selectedHero"></app-hero-details>
</div>


<h3>All Superheros List</h3>
<ul>
    <li *ngFor="let hero of allHeros">
        <button (click)="onSelect(hero)">
            <span class="badge">{{hero.id}} </span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>

<h4>All Products</h4>
<div *ngFor="let product of allProducts">
    <h4>{{product.title}}</h4>
</div>