<section>
  <form>
    <input
      type="text"
      class="border p-4 rounded-md"
      placeholder="Fliter by city"
    />
    <button class="bg-blue-500 rounded-md text-white">Search</button>
  </form>

  <!-- <app-housing-location [housingLocation]="housingLocation"></app-housing-location> -->

  <div class="flex flex-wrap gap-8">
    <app-housing-location
      [housingLocation]="housingLocation"
      *ngFor="let housingLocation of housingLocationList"
    >
    </app-housing-location>
  </div>
</section>
