<article>
    <img class="listing-photo" [src]="selectedHouse?.photo"
      alt="Exterior photo of {{selectedHouse?.name}}"/>
    <section class="listing-description">
      <h2 class="listing-heading">{{selectedHouse?.name}}</h2>
      <p class="listing-location">{{selectedHouse?.city}}, {{selectedHouse?.state}}</p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{selectedHouse?.availableUnits}}</li>
        <li>Does this location have wifi: {{selectedHouse?.wifi}}</li>
        <li>Does this location have laundry: {{selectedHouse?.laundry}}</li>
      </ul>
    </section>
  </article>